<section class="education">
  <div class="container"> <div *ngFor="let item of groupedFormacion">

    <h3 class="group-title">{{ item.group }}</h3>

    <div class="card-group">
      <div *ngFor="let card of item.cards" class="card">
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
        <a *ngIf="card.link" [href]="card.link.url" target="_blank" rel="noopener" class="link">
          {{ card.link.label }}
        </a>
      </div>
    </div>

  </div>

  </div>
</section>
