# Build
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# Node
/node_modules
npm-debug.log
yarn-error.log
.eslintcache

# Environment
.env
.env.*

# IDEs
.idea/
.project
.classpath
.settings/
.vscode/

# Tests / coverage
/coverage
testem.log
__screenshots__/

# System
.DS_Store
Thumbs.db
